@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 94%) !important;
  font-family: Poppins, sans-serif !important;
}

.rounded-bottom-right {
  border-bottom-right-radius: 5rem;
}

.primary{
  background-color: hsl(0, 0%, 100%)
}

/* .secondary{
  background-color: ;
} */